[Unit]
Description=image-cri-shim

[Service]
ExecStart=/usr/bin/image-cri-shim -f /etc/image-cri-shim.yaml
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target
