[crio]
root = "{{ .criData }}"
runroot = "{{ .criData }}"
[crio.image]
pause_image = "{{ .registryDomain }}:{{ .registryPort }}/{{ .sandboxImage }}"
insecure_registries = [
"{{ .registryDomain }}:{{ .registryPort }}"
]
