KUBELET_EXTRA_ARGS="--cgroup-driver=systemd  --pod-infra-container-image={{ .registryDomain }}:{{ .registryPort }}/{{ .sandboxImage }} --container-runtime=remote --runtime-request-timeout=15m --container-runtime-endpoint=unix:///var/run/crio/crio.sock --image-service-endpoint=unix:///var/run/image-cri-shim.sock"
