apiVersion: kibana.k8s.elastic.co/v1
kind: Kibana
metadata:
  name: {{ .NAME }}
  namespace: {{ .NAMESPACE }}
spec:
  version: 8.16.2
  count: 1
  elasticsearchRef:
    name: {{ .NAME }}
  http:
    service:
      spec:
        type: {{ .SERVICE_TYPE }}
    tls:
      certificate:
        secretName: wildcard-cert

