shim: /var/run/image-cri-shim.sock
cri: /var/run/dockershim.sock
address: http://{{ .registryDomain }}:{{ .registryPort }}
force: true
debug: false
image: /var/lib/image-cri-shim
sync: 0
auth: {{ .registryUsername }}:{{ .registryPassword }}
