apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: nfs-csi
  {{- if .disableDefaultStorageClass }}
  annotations:
    storageclass.kubernetes.io/is-default-class: "false"
  {{- else }}
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
  {{- end }}
provisioner: nfs.csi.k8s.io
parameters:
  server: {{ default "nfs-server.default.svc.cluster.local" .server }}
  share: {{ default "/" .share }}
  {{- if .SubDir }}
  subDir: {{ .SubDir }}
  {{- end }}
  mountPermissions: {{ default "0" .mountPermissions | quote }}
  onDelete: {{ default "delete" .onDelete }}
reclaimPolicy: Delete
volumeBindingMode: Immediate
mountOptions:
  - nfsvers=4.1
