apiVersion: apps.gitlab.com/v1beta1
kind: GitLab
metadata:
  name: {{ default "gitlab" .NAME }}
  namespace: {{ default "gitlab-system" .NAMESPACE }}
spec:
  chart:
    version: "7.1.2"
    values:
      global:
        edition: ce
        hosts:
          domain: {{ default "example.com" .DOMAIN }}
        ingress:
          configureCertmanager: true
      certmanager-issuer:
        email: youremail@{{ default "example.com" .DOMAIN }}
      nginx-ingress:
        controller:
          image:
            digest: ""
