name: Auto build APP image in Hosted
on:
  issue_comment:
    types:
      - created
jobs:
  resolve-issue-var:
    if: startswith(github.event.comment.body, '/imagebuild_hosted')
    runs-on: ubuntu-latest
    outputs:
      app: ${{ steps.set-appversion.outputs.app }}
      version: ${{ steps.set-appversion.outputs.version }}
    steps:
      - name: Write vars
        id: set-appversion
        run: |
          commentbody="${{github.event.comment.body}}"
          app=`echo "$commentbody"| awk '{print $2}'`
          version=`echo "$commentbody"| awk '{print $3}'`
          echo "::set-output name=app::$app"
          echo "::set-output name=version::$version"
  build_apps:
    name: Auto build app image
    needs:
      - resolve-issue-var
    runs-on: self-hosted
    strategy:
      matrix:
        arch: [ amd64,arm64 ]
    permissions:
      issues: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.TOKEN }}
      - name: Download buildah and sealos
        run: .github/scripts/download.sh
        env:
          sealos: 4.1.0-rc1
      - name: Build Image
        env:
          registry: docker.io
          username: ${{ github.repository_owner }}
          repo: ${{ github.repository_owner }}
          password: ${{ secrets.REGISTRY }}
          app: ${{ needs.resolve-issue-var.outputs.app }}
          version: ${{ needs.resolve-issue-var.outputs.version }}
          arch: ${{ matrix.arch }}
        run: .github/scripts/apps.sh
      - name: Sync image
        env:
          pre_registry: docker.io
          registry: registry.cn-qingdao.aliyuncs.com
          username: ${{ secrets.ALIY_REGISTRY_NAME }}
          repo: ${{ github.repository_owner }}
          password: ${{ secrets.ALIY_REGISTRY_PASSWD }}
          app: ${{ needs.resolve-issue-var.outputs.app }}
          version: ${{ needs.resolve-issue-var.outputs.version }}
          arch: ${{ matrix.arch }}
        run: .github/scripts/sync.sh

  build_manifest:
    needs:
      - resolve-issue-var
      - build_apps
    name: Auto manifest app image
    runs-on: self-hosted
    permissions:
      issues: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.TOKEN }}
      - name: Download buildah and sealos
        run: .github/scripts/download.sh
        env:
          sealos: 4.1.0-rc1
      - name: Manifest Image
        env:
          registry: docker.io
          username: ${{ github.repository_owner }}
          repo: ${{ github.repository_owner }}
          password: ${{ secrets.REGISTRY }}
          app: ${{ needs.resolve-issue-var.outputs.app }}
          version: ${{ needs.resolve-issue-var.outputs.version }}
        run: .github/scripts/manifest.sh

      - name: Sync Manifest Image
        env:
          registry: registry.cn-qingdao.aliyuncs.com
          username: ${{ secrets.ALIY_REGISTRY_NAME }}
          repo: ${{ github.repository_owner }}
          password: ${{ secrets.ALIY_REGISTRY_PASSWD }}
          app: ${{ needs.resolve-issue-var.outputs.app }}
          version: ${{ needs.resolve-issue-var.outputs.version }}
        run: .github/scripts/manifest.sh

      - name: Success Commit
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            ```
            image docker.io/${{ github.repository_owner }}/${{ needs.resolve-issue-var.outputs.app }}:${{ needs.resolve-issue-var.outputs.version }} build successfully!
            image registry.cn-qingdao.aliyuncs.com/${{ github.repository_owner }}/${{ needs.resolve-issue-var.outputs.app }}:${{ needs.resolve-issue-var.outputs.version }} build successfully!
            ```
            
            detail log please view [autobuild-apps](https://github.com/labring/cluster-image/actions/workflows/autobuild-apps.yml)
