name: Auto build image k8s for part1
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  schedule:
    - cron: '0 22 * * *'
env:
  sealos: 4.1.0-rc1
jobs:
  resolve-versions-arch:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-versions.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Resolve Versions
        id: set-versions
        run: sh .github/scripts/versions_schedule_arch.sh
  resolve-versions:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-versions.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Resolve Versions
        id: set-versions
        run: sh .github/scripts/versions_schedule.sh
  build-images:
    name: Auto build schedule app image
    needs:
      - resolve-versions-arch
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJson(needs.resolve-versions-arch.outputs.matrix) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.TOKEN }}

      - name: Download buildah and sealos
        run: .github/scripts/download.sh

      - name: Auto build image
        env:
          registry: docker.io
          username: ${{ github.repository_owner }}
          repo: ${{ github.repository_owner }}
          password: ${{ secrets.REGISTRY }}
          arch: ${{ matrix.arch }}
          app: ${{ matrix.app }}
          version: ${{ matrix.version }}
        run: .github/scripts/apps.sh
      - name: Auto Sync image
        env:
          pre_registry: docker.io
          registry: registry.cn-qingdao.aliyuncs.com
          username: ${{ secrets.ALIY_REGISTRY_NAME }}
          repo: ${{ github.repository_owner }}
          password: ${{ secrets.ALIY_REGISTRY_PASSWD }}
          arch: ${{ matrix.arch }}
          app: ${{ matrix.app }}
          version: ${{ matrix.version }}
        run: .github/scripts/sync.sh

  build_manifest:
    needs:
      - resolve-versions
      - build-images
    name: Auto manifest schedule app image
    strategy:
      matrix: ${{ fromJson(needs.resolve-versions.outputs.matrix) }}
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.TOKEN }}
      - name: Download buildah and sealos
        run: .github/scripts/download.sh
      - name: Manifest Image
        env:
          registry: docker.io
          username: ${{ github.repository_owner }}
          repo: ${{ github.repository_owner }}
          password: ${{ secrets.REGISTRY }}
          app: ${{ matrix.app }}
          version: ${{ matrix.version }}
        run: .github/scripts/manifest.sh

      - name: Sync Manifest Image
        env:
          registry: registry.cn-qingdao.aliyuncs.com
          username: ${{ secrets.ALIY_REGISTRY_NAME }}
          repo: ${{ github.repository_owner }}
          password: ${{ secrets.ALIY_REGISTRY_PASSWD }}
          app: ${{ matrix.app }}
          version: ${{ matrix.version }}
        run: .github/scripts/manifest.sh
