name: Cherry Pick Usage

on:
  pull_request_target:
    types:
      - opened
    branches:
      - main
      - release-*

env:
  GH_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

jobs:
  pick-usage:
    uses: apecloud-inc/apecloud-cd/.github/workflows/pull-request-cherry-pick-usage.yml@v0.6.0
    secrets: inherit
